{{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.Membershiptype) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <di class="col-12">
            <button class="btn btn-success" type="submit">Save</button>
            
        </di>
    </div>
{{ form_end(form) }}
