{% extends 'base.html.twig' %}

{% block title %}New MembershipType{% endblock %}

{% block body %}
    <h1>Create new Membership Type</h1>
     <div class="row">
        <div class="col-12">
           <p align="right">
               <a href="{{ path('app_type_index') }}" class="btn btn-info">back to list</a>
           </p>
        </div>
    </div>

    {{ include('type/_form.html.twig') }}

    
{% endblock %}
