{% extends 'base.html.twig' %}

{% block title %}New Activity{% endblock %}

{% block body %}
    <h1>Create new Activity</h1>
    <div class="row">
        <div class="col-12">
            <p align="right">
            <a href="{{ path('app_activity_index') }}"  class="btn btn-outline-success">back to list</a>
            </p>
        </div>  

    {{ include('activity/_form.html.twig') }}

    
{% endblock %}
